@import '../../styles/variables';
@import '../../styles/theme';
@import '../../styles/functions';

button {
  height: 55px !important;
}

.toolbar-container-wrapper {
  background-color: var(--cardColor);
  height: $header-height;
  z-index: 2;
  position: fixed;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  top: 0;
  right: 0;
  left: 0;
  // color: white;

  .toolbar-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: $header-height;
    background-color: var(--cardColor);
    padding: 0;
    color: white;
  
    @media (max-width: $media-query-xs) {
      justify-content: space-between;
      width: 100%;
    }
  
    .hamburger-menu {
      display: none;
  
      @media (max-width: $media-query-xs) {
        display: block;
      }
    }
  
    .logo {
      @media (max-width: $media-query-xs) {
        margin-right: 25px;
      }
  
      img {
        height: 35px;
        width: 35px;
      }
  
      h1 {
        display: inline-block;
        font-size: 19px;
        color: white;
        font-weight: 600;
      }
    }
  
    .navigation {
      display: block;
  
      @media (max-width: $media-query-xs) {
        display: none;
      }
  
      ul {
        list-style: none;
        display: flex;
  
        a {
          text-decoration: none;
          color: white;
          display: flex;
          align-items: center;
          height: 55px;
          border-radius: 0;
        }
      }
    }
  
    .actions {
      display: flex;
      align-items: center;
      margin-left: auto;
      color: white;
  
      @media (max-width: $media-query-xs) {
        margin-left: 0;
      }
  
      .auth-container {
        @media (max-width: $media-query-xs) {
          display: none;
        }
      }
  
      .search-toolbar-container {
        // margin: 0 20px;
        display: flex;
        height: 55px ;
  
        @media (max-width: $media-query-xs) {
          display: none;
        }

        .search-button {
          border-radius: 0;
          padding: 0;
          // min-width: $toolbar-button-width;
          // max-width: $toolbar-button-width;
          // color: $toolbar-button-icon-color;
        }
        
        .search {
          width: 0;
          overflow: hidden;
          opacity: 0;
          visibility: hidden;
          transition: all .4s cubic-bezier(.35,0,.25,1);
          margin-top: 8px;
        
          &.search-open {
            width: 180px;
            visibility: visible;
            opacity: 1;
            margin-left: 8px;
            margin-right: 8px;
          }
        }

        mat-form-field {
          // height: 10px;
          width: 170px;
          font-size: 15px;

          // input {
          //   background: rgba(48, 52, 65, 0.1);
          //   padding: 4px;
          //   box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
          //   transition: all 0.2s ease;
          //   border: none;
          //   font-size: 14px;
          //   // color: white;
          //   font-weight: 300;
          //   outline: none;
          //   border-radius: 3px;
          //   box-sizing: border-box;
          // }
        }
  
        // &.focus {
        // }
      }
  
      .notifications-button-container {
        // border-left: 1px solid rgba(0, 0, 0, 0.08);
  
        .notifications-badge {
          @media (max-width: $media-query-xs) {
            // display: none;
          }
        }
      }
  
      .user-button-container {
        // border-left: 1px solid rgba(0, 0, 0, 0.08);
  
        @media (max-width: $media-query-xs) {
          display: none;
        }

        .user-button {
          height: 100%;
          min-width: 72px;
    
          .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
      
          .name {
            margin: 0 8px 0 10px;
    
            @media (max-width: $media-query-xs) {
              display: none;
            }
          }
      
          .icon {
            width: 16px;
            height: 16px;
            font-size: 16px;
            transform: rotate(0);
            transition: transform .25s cubic-bezier(.25,.8,.25,1);
    
            @media (max-width: $media-query-xs) {
              display: none;
            }
          }
    
          &.open {
            background: rgba(0, 0, 0, .05);
      
            .icon {
              transform: rotate(-180deg);
            }
          }
        }
      }
  
      // .quickpanel-button {
      //   border-left: 1px solid rgba(0, 0, 0, 0.08);
      // }
  
      .user-button-logged-out {
        display: none;
  
        @media (max-width: $media-query-xs) {
          display: block;
        }
      }
    }
  
    .active {
      background-color: rgba(0, 0, 0, 0.2); // for the active route styling.
    }
  }
}

.dropdowns-container {
  width: 1200px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;

  @media (max-width: $media-query-xs) {
    width: 100%;
    right: 0;
  }

  .dropdown-user-menu {
    color: #2f2f2f;        
    background: white;
    position: fixed;
    top: 0;
    // right: 0;
    // width: 300px;
    // right: 81px;
    // right: 18px;
    // width: 210px;
    width: 200px;
    min-width: 160px;
    z-index: 1;
    transform: translateY(-110%);
    visibility: hidden;
    transition: transform .4s cubic-bezier(.25,.8,.25,1), visibility .4s cubic-bezier(.25,.8,.25,1);
  
    @media (max-width: $media-query-xs) {
      width: 100%;
      right: 0;
    }
  
    .content {
  
      .list {
        padding-top: 60px;
  
        .item {
          height: 48px;
          padding: 0 16px;
          position: relative;
          cursor: pointer;
          display: flex;
          justify-content: flex-start;
          align-items: center;
  
          .icon {
            padding-right: 12px;
          }
        }
      }
    }
  
    &.open {
      transform: translateY(0);
      visibility: visible;
    }
  }
  
  .dropdown-notifications-menu {
    background: white;
    // position: absolute;
    position: fixed;
    top: 45px;
    // right: 330px;
    // right: 0;
    // right: 17px;
    // right: 230px;
    min-width: 350px;
    z-index: 1;
    transform: translateY(-110%) scale(0);
    transform-origin: top right;
    visibility: hidden;
    transition: transform .4s cubic-bezier(.25,.8,.25,1), visibility .4s cubic-bezier(.25,.8,.25,1);

    @media (max-width: $media-query-xs) {
      width: 100%;
    }
  
    .content {
        .card {
          padding-top: 10px;
          margin: 0 auto;
          background-color: white;
        
          @media (max-width: $media-query-xs) {
            width: 100%;
            margin-top: 0;
            // min-height: 100vh;
          }
        
          .header {
            background: #eeeeee;
            min-height: 54px;
            padding-left: 16px;
            padding-right: 8px;
            color: #555;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e0e0e0;
  
            .title-name {
              a {
                text-decoration: none;
              }
  
            }
        
            .title-extra {
              font-size: 12px;
              color: #888;
            }
          }
  
          .no-data {
            .no-notifications-container {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding-top: 15px;
            }
          }
        
          .footer {
            min-height: 42px;
            border-top: 1px solid #eee;
            display: flex;
            justify-content: center;
            align-items: center;
        
            .action {
              cursor: pointer;
              color: #aaa;
              text-align: center;
              font-size: 13px;
            }
          }
        }
    }
  
    &.open {
      transform: translateY(0) scale(1);
      visibility: visible;
    }
  }
  

  .dropdown-search {
    color: #2f2f2f;        
    background: white;
    position: fixed;
    top: 0;
    // right: 295px;
    // width: 360px;
    // width: 451px;
    width: 467px;
    // width: 535px;
    min-width: 160px;
    min-height: 300px;
    z-index: 1;
    transform: translateY(-110%);
    visibility: hidden;
    transition: transform .4s cubic-bezier(.25,.8,.25,1), visibility .4s cubic-bezier(.25,.8,.25,1);
  
    @media (max-width: $media-query-xs) {
      width: 100%;
      right: 0;
    }
  
    .content {
      margin-top: 80px;

      .heading {
        display: flex;
        align-items: center;
        margin-left: 15px;

        mat-icon {
          margin-right: 15px;
        }

        .search-term {
          font-weight: 800;
          margin-left: 10px;
        }
      }

      .items {
        padding: 0;

        li {
          &:nth-child(odd) {
            background-color: rgb(238, 238, 238);
          }

          list-style: none;
          padding: 12px 0;

          &:hover {
            background-color: rgba(0, 0, 0, 0.08);
          }

          a {
            padding-left: 20px;
          }
        }
      }
    }
  
    &.open {
      transform: translateY(0);
      visibility: visible;
    }
  }

  // .dropdown-search {
  //   color: #2f2f2f;        
  //   background: white;
  //   position: fixed;
  //   top: 0;
  //   // right: 295px;
  //   // width: 360px;
  //   width: 451px;
  //   min-width: 160px;
  //   min-height: 300px;
  //   z-index: 1;
  //   transform: translateY(-110%);
  //   visibility: hidden;
  //   transition: transform .4s cubic-bezier(.25,.8,.25,1), visibility .4s cubic-bezier(.25,.8,.25,1);
  
  //   @media (max-width: 400px) {
  //     width: 100%;
  //     right: 0;
  //   }
  
  //   .content {
  //     margin-top: 80px;
  
  //     .list {
  //       padding-top: 60px;
  
  //       .item {
  //         // padding-bottom: 7px;
  //         padding: 10px 0;
  //         height: 48px;
  //         // padding: 0 16px;
  //         position: relative;
  //         cursor: pointer;
  //         display: flex;
  //         justify-content: flex-start;
  //         align-items: center;
  
  //         .icon {
  //           padding-right: 12px;
  //         }
  //       }
  //     }
  //   }
  
  //   &.open {
  //     transform: translateY(0);
  //     visibility: visible;
  //   }
  // }
}
