
// app media queries ================
$media-query-xs: 400px;
$media-query-sm: 600px;
$media-query-md: 800px;
$media-query-lg: 1200px;


// app config ================
$header-height: 55px;


// app colors ================
$color-primary: #9575cd;
$color-accent: #4ccead;
$color-warn: #f44336;

$background-color-light-grey: #484848;
$background-color-dark-grey: #353435;

$card-background-color: #616161;


// 3rd party addon ========================
