@import './variables';
@import '~@angular/material/theming';

$my-app-typography: mat-typography-config(
  $font-family: 'Montserrat, monospace'
);
@include mat-core($my-app-typography);
// @include mat-core();

$my-app-primary: mat-palette($mat-deep-purple, 300);
$my-app-accent: mat-palette($mat-teal, 300);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

// .myapp-no-padding-dialog .mat-dialog-container { // For the dialogs & modals styling -  a must here!
//   background: $background-color-light-grey;
//   color: white;
//   padding: 0;
//   border-radius: 15px;
// }

.mat-dialog-container {
  padding: 0 !important;
}
