@import '../../../styles/variables';
// @import '../../../styles/mixins';

mat-card {
  width: 500px;
  margin: 0 auto;
  margin-top: 75px;

  @media (max-width: $media-query-xs) {
    width: 84%;
  }

  mat-form-field {
    width: 100%;
  }
  
  mat-spinner {
    margin: auto;
  }
}