@import '../../../../styles/variables';

.post-card {
  width: 340px;
  // max-width: 340px;
  margin: 14px;

  @media (max-width: $media-query-xs) {
    width: 86%;
    margin: 0 auto;
    margin-bottom: 18px;
  }

  mat-card-title {
    a {
      text-decoration: none;
    }
  }
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
