<mat-card class="post-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><a routerLink="/post/{{ postData._id }}">{{ postData.title}}</a></mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="{{ postData.imagePath }}" alt="Photo of a Shiba Inu">

    <mat-card-content>
      <p>
          {{ postData.content }}
      </p>
    </mat-card-content>
    
    <!-- <mat-card-actions>
      <button mat-button (click)="onUpdatePost()">EDIT</button>
      <button mat-button (click)="onDeletePost()">DELETE</button>
    </mat-card-actions> -->
</mat-card>
