/* You can add global styles to this file, and also import other style files */
@import 'styles/gymo-theme.scss';
@import 'styles/variables';


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Montserrat, Roboto, "Helvetica Neue", sans-serif;
 }

 ::selection {
    background-color: $color-primary;
    color: white;
}