<div class="section-header">
    <div class="section-wrapper">
          <div class="col-left">
              <p><span>Introducing the Conversation Cloud™</span></p>
              <h2>Don't let
                  another conversation disappear
                  into thin air.
              </h2>

              <!-- <a mat-button mat-raised-button routerLink="/auth/login">login</a>
              <a mat-button  mat-raised-buttonrouterLink="/auth/signup">sign-up</a> -->
              <button mat-raised-button color="accent" routerLink="/auth/login" >Log-in</button>
              <button mat-raised-button color="accent" routerLink="/auth/signup" >Sign-up</button>
          </div>
          <div class="col-right">
              <img src="./assets/img/landingpage/home.svg" />
          </div>
    </div>
</div>

<div class="section1">
  <div class="section-wrapper">
    <div class="col-left">
      <img src="./assets/img/landingpage/unlock.svg" />
    </div>
    <div class="col-right">
      <h2>Enhanced visibility into your team's most critical asset</h2>
      <p>
        Only 5% of information on customer facing calls ever make it into the
        CRM. Chorus.ai is the first platform built for you to capture all
        customer facing conversations to seamlessly search, share, and analyze
        these critical moments.
      </p>
    </div>
  </div>
</div>

<div class="section2">
  <div class="section-wrapper">
    <div class="col-left">
      <h2>AI powered insights to increase team productivity</h2>
      <p>
        Chorus's proprietary algorithms are trained on the collective learnings
        of the top B2B revenue teams, as well as your team's own best practices
        to help shorten ramp times, increase close rates, and maintain
        performance at scale.
      </p>
    </div>
    <div class="col-right">
      <img src="./assets/img/landingpage/drive.svg" />
    </div>
  </div>
</div>
