@import "../../../styles/variables";

:host { 

  mat-spinner {
    margin: 0 auto;
  }

  .post-preview-card {
    // max-width: 1000px;
    width: 900px;
    margin: 0 auto;
    margin-top: 75px;

    @media (max-width: $media-query-xs) {
      width: 86%;
      margin-top: 75px;
    }

    mat-card-header {
      justify-content: space-between;
      
      button {
        margin-right: 15px;
      }

      .header-actions {
          margin-left: auto;
      }

      .post-preview-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }
    }
  }
}
